.container {
  width: 100vw;
  height: 100vh;
  background-color: #7d7d7d;
  background-size: cover;
}

.margin2 {
  position: absolute;
  top: 3%;
  left: 15%;
  right: 15%;
  bottom: 3%;
  background-color: #1e31de;
}

.margin3 {
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  background-color: #f41400;
}

.margin4 {
  position: absolute;
  top: 25%;
  left: 30%;
  right: 30%;
  bottom: 25%;
  background-color: #000000;
}

.margin5 {
  position: absolute;
  top: 35%;
  left: 40%;
  right: 40%;
  bottom: 35%;
  background-color: #00d10a;

}

.margin6 {
  position: absolute;
  top: 40%;
  left: 45%;
  right: 45%;
  bottom: 40%;
  background-color: #eeff00;
}

#topleft {
  display: inline-block;
  top: 8px;
  left: 0px;
  width: 400px;
  height: 400px;
  background: #282829;
}


#topright {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 400px;
  height: 400px;
  background: #282829;
}

#bottomleft {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 400px;
  height: 400px;
  background: #282829;
}

#bottomright {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 400px;
  height: 400px;
  background: #282829;
}

#text1 {
  position: absolute;
  top: 3%;
  left: 15%;
  right: 15%;
  bottom: 60%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #282829;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

#text2 {
  position: absolute;
  top: 45%;
  left: 15%;
  right: 15%;
  bottom: 15%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-color: #282829;
  overflow: auto;
  color: rgb(255, 255, 255);
  font-size: xx-large;
}

.box {
  display: inline-flex;
  width: 100px;
  height: 100px;
  background: #282829;

}

.box1 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px; 
}

.box2 {
  margin: 0;
  position: absolute;
  top: 705px;
  left: 1690px;
  right: 0%;
  
  }

  .box3 {
    margin: 0;
    position: absolute;
    top: 600px;
    left: 1795px;
    right: 0%;
    
    }
 



